## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cutoff = 500
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_counts_filtered = classification_counts[classification_counts > 1]
print(classification_counts_filtered)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
cutoff = 1800
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df_dummies = pd.get_dummies(application_df)
print(application_df_dummies.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                       0
1       1   108590              1                       0
2       1     5000              0                       0
3       1     6692              1                       0
4       1   142590              1                       0

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                     1                     0                    0
1                     0                     0                    1
2                     0                     0                    0
3                     0                     0                    1
4                     0                     0                    1

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                    0                    0                    0  ...
1                    0                    0                    0  ...
2                    0                    1                    0  ...
3                    0                    0                    0  ...
4                    0                    0                    0  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                  0                       0                         0
1                  1                       0                         0
2                  0                       0                         0
3                  0                       1                         0
4                  0                       0                         1

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   0                 0                       0
1                   0                 0                       0
2                   0                 0                       0
3                   0                 0                       0
4                   0                 0                       0

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                0                  0                         1
1                0                  0                         1
2                0                  0                         1
3                0                  0                         1
4                0                  0                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 44 columns]

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df_dummies['IS_SUCCESSFUL'].values
X = application_df_dummies.drop(['IS_SUCCESSFUL'], axis=1).values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.2, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization, LeakyReLU

# Define the model - deep neural net with adjustments
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 128
hidden_nodes_layer2 = 64
hidden_nodes_layer3 = 32
hidden_nodes_layer4 = 16  # Additional hidden layer

nn_further_optimized = tf.keras.models.Sequential()

# First hidden layer with Batch Normalization and LeakyReLU
nn_further_optimized.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features))
nn_further_optimized.add(BatchNormalization())
nn_further_optimized.add(LeakyReLU(alpha=0.01))
nn_further_optimized.add(Dropout(0.2))

# Second hidden layer
nn_further_optimized.add(Dense(units=hidden_nodes_layer2))
nn_further_optimized.add(BatchNormalization())
nn_further_optimized.add(LeakyReLU(alpha=0.01))
nn_further_optimized.add(Dropout(0.2))

# Third hidden layer
nn_further_optimized.add(Dense(units=hidden_nodes_layer3))
nn_further_optimized.add(BatchNormalization())
nn_further_optimized.add(LeakyReLU(alpha=0.01))
nn_further_optimized.add(Dropout(0.2))

# New Fourth hidden layer
nn_further_optimized.add(Dense(units=hidden_nodes_layer4))
nn_further_optimized.add(BatchNormalization())
nn_further_optimized.add(LeakyReLU(alpha=0.01))
nn_further_optimized.add(Dropout(0.2))

# Output layer
nn_further_optimized.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_further_optimized.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 128)               5632

 batch_normalization (Batch  (None, 128)               512
 Normalization)

 leaky_re_lu (LeakyReLU)     (None, 128)               0

 dropout_4 (Dropout)         (None, 128)               0

 dense_13 (Dense)            (None, 64)                8256

 batch_normalization_1 (Bat  (None, 64)                256
 chNormalization)

 leaky_re_lu_1 (LeakyReLU)   (None, 64)                0

 dropout_5 (Dropout)         (None, 64)                0

 dense_14 (Dense)            (None, 32)                2080

 batch_normalization_2 (Bat  (None, 32)                128
 chNormalization)

 leaky_re_lu_2 (LeakyReLU)   (None, 32)                0

 dropout_6 (Dropout)         (None, 32)                0

 dense_15 (Dense)            (None, 16)                528

 batch_normalization_3 (Bat  (None, 16)                64
 chNormalization)

 leaky_re_lu_3 (LeakyReLU)   (None, 16)                0

 dropout_7 (Dropout)         (None, 16)                0

 dense_16 (Dense)            (None, 1)                 17

=================================================================
Total params: 17473 (68.25 KB)
Trainable params: 16993 (66.38 KB)
Non-trainable params: 480 (1.88 KB)
_________________________________________________________________

In [22]:
# Compile the model
#  YOUR CODE GOES HERE
nn_further_optimized.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
# Train the model
#  YOUR CODE GOES HERE
from tensorflow.keras.callbacks import EarlyStopping

# Initialize the EarlyStopping callback
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

# Train the model with the EarlyStopping callback
fit_model_further_optimized = nn_further_optimized.fit(
    X_train_scaled,
    y_train,
    epochs=200,
    validation_split=0.2,
    callbacks=[early_stopping],
    batch_size=32
)

Epoch 1/200
686/686 [==============================] - 7s 6ms/step - loss: 0.6181 - accuracy: 0.6876 - val_loss: 0.5709 - val_accuracy: 0.7250
Epoch 2/200
686/686 [==============================] - 3s 4ms/step - loss: 0.5844 - accuracy: 0.7192 - val_loss: 0.5654 - val_accuracy: 0.7241
Epoch 3/200
686/686 [==============================] - 3s 5ms/step - loss: 0.5743 - accuracy: 0.7217 - val_loss: 0.5648 - val_accuracy: 0.7249
Epoch 4/200
686/686 [==============================] - 5s 7ms/step - loss: 0.5715 - accuracy: 0.7259 - val_loss: 0.5605 - val_accuracy: 0.7256
Epoch 5/200
686/686 [==============================] - 4s 6ms/step - loss: 0.5680 - accuracy: 0.7275 - val_loss: 0.5598 - val_accuracy: 0.7280
Epoch 6/200
686/686 [==============================] - 3s 5ms/step - loss: 0.5665 - accuracy: 0.7289 - val_loss: 0.5595 - val_accuracy: 0.7280
Epoch 7/200
686/686 [==============================] - 4s 5ms/step - loss: 0.5634 - accuracy: 0.7310 - val_loss: 0.5601 - val_accuracy: 0.7267
Epoch 8/200
686/686 [==============================] - 4s 6ms/step - loss: 0.5615 - accuracy: 0.7309 - val_loss: 0.5599 - val_accuracy: 0.7267
Epoch 9/200
686/686 [==============================] - 3s 5ms/step - loss: 0.5622 - accuracy: 0.7308 - val_loss: 0.5590 - val_accuracy: 0.7250
Epoch 10/200
686/686 [==============================] - 3s 5ms/step - loss: 0.5650 - accuracy: 0.7311 - val_loss: 0.5588 - val_accuracy: 0.7278
Epoch 11/200
686/686 [==============================] - 4s 6ms/step - loss: 0.5624 - accuracy: 0.7320 - val_loss: 0.5596 - val_accuracy: 0.7267
Epoch 12/200
686/686 [==============================] - 4s 5ms/step - loss: 0.5597 - accuracy: 0.7319 - val_loss: 0.5609 - val_accuracy: 0.7258
Epoch 13/200
686/686 [==============================] - 4s 5ms/step - loss: 0.5599 - accuracy: 0.7338 - val_loss: 0.5591 - val_accuracy: 0.7261
Epoch 14/200
686/686 [==============================] - 4s 5ms/step - loss: 0.5593 - accuracy: 0.7293 - val_loss: 0.5555 - val_accuracy: 0.7283
Epoch 15/200
686/686 [==============================] - 4s 6ms/step - loss: 0.5599 - accuracy: 0.7331 - val_loss: 0.5575 - val_accuracy: 0.7276
Epoch 16/200
686/686 [==============================] - 3s 4ms/step - loss: 0.5585 - accuracy: 0.7331 - val_loss: 0.5577 - val_accuracy: 0.7269
Epoch 17/200
686/686 [==============================] - 3s 4ms/step - loss: 0.5598 - accuracy: 0.7323 - val_loss: 0.5581 - val_accuracy: 0.7278
Epoch 18/200
686/686 [==============================] - 4s 6ms/step - loss: 0.5573 - accuracy: 0.7336 - val_loss: 0.5561 - val_accuracy: 0.7276
Epoch 19/200
686/686 [==============================] - 4s 5ms/step - loss: 0.5580 - accuracy: 0.7342 - val_loss: 0.5574 - val_accuracy: 0.7285
Epoch 20/200
686/686 [==============================] - 6s 9ms/step - loss: 0.5572 - accuracy: 0.7325 - val_loss: 0.5569 - val_accuracy: 0.7272
Epoch 21/200
686/686 [==============================] - 4s 7ms/step - loss: 0.5587 - accuracy: 0.7326 - val_loss: 0.5559 - val_accuracy: 0.7280
Epoch 22/200
686/686 [==============================] - 3s 5ms/step - loss: 0.5568 - accuracy: 0.7343 - val_loss: 0.5565 - val_accuracy: 0.7265
Epoch 23/200
686/686 [==============================] - 3s 5ms/step - loss: 0.5563 - accuracy: 0.7335 - val_loss: 0.5561 - val_accuracy: 0.7276
Epoch 24/200
686/686 [==============================] - 4s 5ms/step - loss: 0.5571 - accuracy: 0.7328 - val_loss: 0.5572 - val_accuracy: 0.7261

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_further_optimized.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.5556 - accuracy: 0.7211 - 567ms/epoch - 3ms/step
Loss: 0.5556090474128723, Accuracy: 0.7211370468139648

In [25]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn_further_optimized.save("AlphabetSoupCharity_Optimization.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(